/* Start Variables */
:root {
    --main-color: #00c7fc;
    --secondary-color: #131316;
    --section-padding: 60px;
    --section-background: #f4f4f4;
    --main-duration: 0.5s;
}
/* End Variables */

/* Start Component */
/* s main heading */
.main-heading{
    text-align: center;
}
.main-heading h3{
    font-weight: normal;
    font-size: 30px;
    position: relative;
margin-bottom: 70px;
text-transform: uppercase;
}
.main-heading h3::before{
content: "";
width: 150px;
height: 2px;
background-color: var(--main-color);
position: absolute;
bottom: -25px;
left: 50%;
transform: translateX(-50%);
}
.main-heading h3::after{
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--section-background);
    border: 2px solid var(--main-color);
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg) ;

}
/* e main heading */

/* end Component */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    /* height: 2000px; */
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px; 
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end Global Rules */
/* start header */
header{
    width: 100%;    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header .container .logo{
    width: 150px;
}
header .container nav{
    width: 60% ;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
@media (max-width:991px) {
    header .container nav{
        display: none;
    }   
}
header .container nav a{
    text-decoration: none;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 500;
    transition: var(--main-duration);
    position: relative;
}
header .container nav a.active{
    color: var(--main-color);
}
header .container nav a::after{
content: "";
width: 0;
height: 2px;
background-color: var(--main-color);
position: absolute;
left: 0;
bottom: -5px;
transition: var(--main-duration);
}
header .container nav a:hover::after{
    width: 100%;
}

header .container i.fa-bars{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
@media (max-width:991px) {
    header .container i.fa-bars{
        display: block;
    }
}
/* End header */
/* Start landing */
.landing{
    width: 100%;
    background-color: var(--secondary-color);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bc;
}

.landing .container{
    height: calc(100vb - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.landing .container .content{
    width: 100%;
    
    color: white;
    text-align: center;
}
.landing .container .content span{
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
}
.landing .container .content h2{
    font-size: 65px;
    font-weight: 500;
}
@media (max-width: 768px) {
    .landing .container .content span{
        font-size: 16px;
    }
    .landing .container .content h2{
        font-size: 50px;
    }
}
.landing .container .content .btns{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    border-bottom: 40px;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .landing .container .content .btns{
        flex-direction: column;
        align-items: center;
    }
}
.landing .container .content .btns a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-duration);   
    
}
.landing .container .content .btns a:hover{
    letter-spacing: 1.5px;
}
.landing .container .content .btns a:first-child{

}
.landing .container .content .btns a:hover:first-child{
    background-color: white;
    border-color: white;
    color: black;
}
.landing .container .content .btns a:last-child{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/*  */
.down-arrow {
    /* background-color: red; */
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.down-arrow i {
    color: var(--main-color);
    font-size: 35px;
    
}
/* End landing */
/* Start History */
.history{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    /* height: 100vh; */

}
@media (max-width: 768px) {
    .history .container{
        height: calc(90vh - 199px);
    }
    
}
.history .container p{
    color: #637988;
    text-align: center;
    line-height: 1.5;
}

@media (max-width: 768px) {
.history .container p{
    margin-top: 100px;
}
}
    /* End History */
/* Start Portfolio */
.portfolio{
    width: 100%;
    /* overflow: hidden; */
}
.portfolio .slide-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.portfolio .slide-list .photo{
    width: 320px;
    overflow: hidden;
    position: relative;
}
.portfolio .slide-list .photo img{
    max-width: 100%;
    height: 100%;
}

.portfolio .photo .content{
    width: 100%;
    height: 70%;
    background-color: #00c5fcc9;
    color: white;
    position: absolute;
    bottom: -400px;
    /* bottom: 0px; */
    left: 0;
    transition: var(--main-duration);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.portfolio .photo:hover .content{
    bottom: 0;
}

.portfolio  .content h3{
padding: 30px;
text-align: center;
font-weight: normal;
}
.portfolio  .content p{
text-align: center;
font-size: 12px;
line-height: 1.5;
width: 70%;
text-shadow: 0px 0px 20px #00fcdf;
}
.portfolio  .content .socialicons{
margin-top: 30px;
width: 20%;
display: flex;
justify-content: space-between;
}
.portfolio  .content .socialicons a{
    color: white;
    font-size: 20px;
}
.portfolio  .content .socialicons a:hover{
    color: var(--secondary-color);
}

/* End Portfolio */